@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      @apply h-[8px] w-[8px] bg-transparent;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-gPurple;
    }
    & .customScrollBar {
      &::-webkit-scrollbar {
        @apply h-[8px] w-[8px] rounded-br-lg rounded-tr-lg bg-gPurple-dark;
      }
      &::-webkit-scrollbar-thumb {
        @apply rounded-br-lg rounded-tr-lg bg-gPurple-light;
      }
    }
  }
  body {
    @apply bg-gBlue font-gPage text-black transition-all duration-500;
  }
  h1,
  h2 {
    @apply font-gTitle text-gPurple-dark;
  }
  main {
    @apply grid !grow items-start bg-gBlue;
    h1 {
      @apply text-3xl md:text-5xl;
    }
    h2 {
      @apply text-xl md:text-3xl;
    }
  }
  #root {
    @apply flex h-screen flex-col;
  }
}

@layer components {
  .svgFile {
    @apply w-[24px];
  }
  .iconLink {
    @apply flex items-center justify-center gap-2 odd:w-[24px_1fr] even:grid-cols-[1fr_24px];
  }
  h3 {
    .iconLink,
    .svgFile {
      @apply w-[30px];
    }
  }
  .socialDescription {
    @apply font-bold;
    & a {
      @apply text-gPink no-underline hover:text-gGray-dark hover:underline;
    }
  }

  .MuiDialog-root {
    @apply bg-gPurple-light/50 backdrop-blur-md;
  }
  .MuiDialog-paper {
    @apply bg-gBlue text-xl font-extrabold shadow-gShadow;
    & button {
      @apply bg-gPurple font-extrabold text-gGray-light hover:bg-gPurple-dark;
    }
    & a {
      @apply bg-gPurple-dark font-extrabold text-gGray-light hover:bg-gPink;
    }
  }
}

@layer utilities {
}
